/*Reset CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html { /*   Scaling px/rem   */
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: center;
}

p {
    font-family: Calibri, sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

input {
    font-family: Calibri, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
}

button {
    font-family: Calibri, sans-serif;
    border-radius: 10px;
    margin-top: 10px;
    background-color: cornflowerblue;
}

button:hover {
    background-color: #8caff1;
    cursor: pointer;
}

button:active {
    background-color: #367ee8;
    box-shadow: #214b8d inset 2px 2px;
}